div {
    overflow: hidden
    
}

#top {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 25px;
    font-size: 18px;
    color: whitesmoke;
}

#up1 {
    background-color: whitesmoke;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    height: 150px;
    display: flex;

}

.Container{
    background-color: whitesmoke;
        flex-grow: 1;
        display: flex;
        margin-left: 1%;
        margin-right: 1%;
        flex-direction: column;
      
}

#in {
    overflow: hidden;
    background-color: whitesmoke;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 150px;
    float: left;
}


#down {
    background-color: whitesmoke;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    height: 200px;
    float: left;
}

.Sqarea{
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    text-align: center;
}

.Ciarea{
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    text-align: center;
}

img {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;

}   
#loading{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

#p1 {
    border-radius: 70px;
}

#bar{
    background-color: orangered;
    width: 100%;
    height: 150px;
}

span {
    font-size: 40px;
    color: whitesmoke;
    position: relative;
    top: 30px;
    left: 150px;
    
}

.search{
    font-size: 20px;
}
input {
    height: 30px;
    width: 250px
    
}
